<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- Common -->
		<mapping resource="pe/gob/edu/ugel/agenda/core/domain/Activity.hbm.xml" />
		<mapping resource="pe/gob/edu/ugel/agenda/core/domain/Calendar.hbm.xml" />
		
<!-- 		<mapping resource="org/elecciones/core/domain/BaseType.hbm.xml" /> -->
<!-- 		<mapping resource="org/elecciones/core/domain/Election.hbm.xml" /> -->
<!-- 		<mapping resource="org/elecciones/core/domain/SessionElection.hbm.xml" /> -->
<!-- 		<mapping resource="org/elecciones/core/domain/Competitor.hbm.xml" /> -->
<!-- 		<mapping resource="org/elecciones/core/domain/Vote.hbm.xml" /> -->

<!-- 		<mapping resource="org/elecciones/core/domain/Student.hbm.xml" /> -->
<!-- 		<mapping resource="org/elecciones/core/domain/Person.hbm.xml" /> -->
<!-- 		<mapping resource="org/elecciones/core/domain/UserSystem.hbm.xml" /> -->

	</session-factory>
	
</hibernate-configuration>